<div class="container" [ngStyle]="{'background':styleData.background}">
    <div class="circles"><img src="{{this.styleData.image_background}}" alt=""></div>
    <div class="presentation flex-center">
        <div class="tittle-container">
            <h2 class="tittle">DESARROLLADOR WEB FULL-STACK.</h2>
            <h2 class="tittle">ESPECIALIZADO EN</h2>
            <div class="typing" [ngStyle]="{'color':styleData.letter_color}"></div>
        </div>
    </div>
    <div class="img-container">
        <div class="img"><img src="assets/Home-E&M.svg" alt=""></div>
    </div>
</div>